<ion-header class="ion-head">
  <ion-toolbar class="main-header">
    <ion-title>Quiz App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
  <div class="quiz-info">
    <div class="quiz-score">Score: 1 / 10</div>
    <div class="quiz-question">Questions: 1 / 10</div>
  </div>
</div> 
<div class="content">
  <div class="question-container">
    <div>
      How many days a Week?
    </div>
  </div>
  <div class="answer-container">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <button class="option">7</button>
        </ion-col>
        <ion-col size="6">
          <button class="option">7</button>
        </ion-col>
        <ion-col size="6">
          <button class="option">7</button>
        </ion-col>
        <ion-col size="6">
          <button class="option">7</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
  <div class="footer">
    <button class="nav-btn">Next Question</button>
    <!-- <button class="nav-btn">Submit</button> -->
  </div>
</ion-content>
