<div class="container">
  <ion-card>
    <div class="header">
      Welcome To Quiz App
    </div>
    <div class="content">
      <ion-item>
        <ion-label position="floating">User Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email ID</ion-label>
        <ion-input inputmode="email"></ion-input>
      </ion-item>
    </div>
    <div class="footer">
        <button class="btn">Start Quiz</button>
    </div>
  </ion-card>
</div>
