<ion-header>
  <ion-toolbar class="main-header">
    <ion-title>Thank you</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <ion-card>
    <div class="header">
      Congratulations, Quiz Completed.
    </div>
    <div class="content">
      <ion-item>
        <ion-text>Attempts: 2</ion-text>
      </ion-item>
      <ion-item>
        <ion-text>Wrong Answers: 2</ion-text>
      </ion-item>
      <ion-item>
        <ion-text>Right Answers: 2</ion-text>
      </ion-item>
      <ion-item>
        <ion-text>Grade: 2</ion-text>
      </ion-item>
    <ion-item>
      <ion-text style="color: green;">Excellent Keep the good work going.</ion-text>
    </ion-item>
    </div>
    <div class="footer">
      <div class="button">
        <button class="btn">Back to Home</button>
      </div>
      <div class="button">
        <button class="btn">Start New Quiz</button>
      </div>
    </div>
  </ion-card>
</div>

